body {
  background-image: url(fondo.jpg);
}

#content{
    width: 1100px;
    margin-left: 200px;
}

#left{
    float: left;
}
#right{
    float: right;
}

#deslizador{
  margin-top: 410px;
  margin-left: 400px;
}
