/*Fondo de la página*/
body{
  background-image: url(fondo.jpg);
}

/*Estilo para el canvas: Negro*/
#canvas{
  background-color: black;
  margin-left: 450px;
}
button{
  margin-right: 160px;
  width: 100px;
  height: 80px;
  border-radius: 5px 5px 5px 5px;
  background-color: red;
  font-family: 'Press Start 2P', cursive;
}
h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}
h2{
  font-family: 'Press Start 2P', cursive;
  color: white;
}

p{
  font-family: 'Press Start 2P', cursive;
  font-size: 18;
  color: white;
  text-align: center;
}
