p{
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  font-size: 50px;
  margin-bottom: 5px;
  margin-top: auto;
}

button{
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
  width: 125px;
  height: 50px;
  border-radius: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
}

#video{
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
#video1,#video2,#video3,#imagen{
  display: inline-block;
  margin-top: auto;
  margin-left: 200px;
  margin-right: auto;
}
#fuente1,#fuente2,#fuente3,#fuente4{
  display: inline-block;
  margin-top: 10px;
  margin-left: 200px;
  margin-right: auto;
}
